<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Kenny I Fast build Admin dashboard for any platform</title>
		<meta name="description" content="Kenny is a Dashboard & Admin Site Responsive Template by hencework." />
		<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Kenny Admin, kennyadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application" />
		<meta name="author" content="hencework"/>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="../static/img/favicon.ico">
		<link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
		
		<!-- vector map CSS -->
		<link href="../static/vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet" type="text/css"/>
		
		
		
		<!-- Custom CSS -->
		<link href="../static/dist/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="wrapper pa-0">
		
			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="panel panel-default card-view mb-0">
									<div class="panel-wrapper collapse in">
										<div class="panel-body">
											<div class="row">
												<div class="col-sm-12 col-xs-12 text-center">
													<h3 class="mb-20 txt-danger">404未找到页面</h3>
													<p class="font-18 txt-dark mb-15">对不起，您所请求的页面未找到。</p>
													<p>您输入的地址有误，或者，您请求的页面由于某些原因崩溃，请稍后重试，或者联系开发者。</p>
													<br>
													<p>错误原因:{{error_reason}}</p>
													<a class="btn btn-success btn-icon right-icon btn-rounded mt-30" href="/managerindex"><span>回到主页</span><i class="fa fa-space-shuttle"></i></a>
													<p class="font-12 mt-15">2017 &copy; Sunny. Developed by Frank Leng and Chris Chen</p>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>
				
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="../static/vendors/bower_components/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="../static/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../static/vendors/bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="../static/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="../static/dist/js/dropdown-bootstrap-extended.js"></script>
	
		<!-- Init JavaScript -->
		<script src="../static/dist/js/init.js"></script>
	</body>
</html>
