{% extends 'main.html' %}

{% block additional_css %}
<!-- Bootstrap Wysihtml5 css -->
	<link rel="stylesheet" href="../static/vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css" />
<!-- Bootstrap Dropify CSS -->
<link href="../static/vendors/bower_components/dropify/dist/css/dropify.css" rel="stylesheet" type="text/css"/>
{% end %}

{% block additional_css_after_style %}
<link href="../static/addtionalCSS/articleDetail_addcss.css" rel="stylesheet" type="text/css"/>
{% end %}

{% block main_part %}
<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <section id="blog-single" class="pt-50">
                <div class="blog-single-content" id="articleDetail">
                    <input type="file" id="input-file-now" class="dropify" />
                    <div class="blog-detail">
                        <h2 id = "title" class="pt-20"><input class="title" value="{{article_list[0]['title']}}" width="100%" disabled></h2>
                        <h5>By &nbsp;&nbsp;<a id = "author"><input  value="{{article_list[0]['author']}}" disabled></a> &nbsp;&nbsp;&nbsp;&nbsp; <span id="add_time"><input  value="{{article_list[0]['add_time']}}" disabled></span> &nbsp;&nbsp;&nbsp;&nbsp;<span id="hits_count">阅读次数:&nbsp;{{article_list[0]['hits_count']}}</span></h5>
                        <textarea class="textarea_editor" id="content" rows="15">123</textarea>
                        <button type="submit" id="article_edit" class="btn btn-success btn-anim "><i class="fa fa-pencil-square-o"></i><span class="btn-text">编辑</span><i style="display: none" class="fa fa-spinner fa-spin fa-3x fa-fw"></i></button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- End Section Image Content  -->
</div>
<!-- /Row -->
{% end %}

{% block additional_script %}
<!-- wysuhtml5 Plugin JavaScript -->
	<script src="../static/vendors/bower_components/wysihtml5x/dist/wysihtml5x.min.js"></script>
    <script src="../static/vendors/bower_components/dropify/dist/js/dropify.js"></script>
	<script src="../static/vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.js"></script>
    <script src="../static/addtionalJS/articleDetail_addjs.js"></script>
<script>

</script>
{% end %}