{% extends 'main.html' %}

{% block additional_css %}
<!-- Morris Charts CSS -->
    <link href="../static/vendors/bower_components/morris.js/morris.css" rel="stylesheet" type="text/css"/>
{% end %}

{% block additional_css_after_style %}

{% end %}

{% block main_part %}
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"><i class=" icon-control-pause mr-10"></i>信息阅读数/回复</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div id="morris_extra_bar_chart" class="morris-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark"><i class=" icon-control-pause mr-10"></i>订单操作数</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div id="morris_bar_chart" class="morris-chart"></div>
            </div>
        </div>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">订单操作日志</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="order_data" class="table table-hover display  pb-30" >
                                <thead>
                                    <tr>
                                        <th>订单号</th>
                                        <th>订单价格</th>
                                        <th>操作类型</th>
                                        <th>操作时间</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in order_list %}
                                    <tr>
                                        <td>{{item['order_sn']}}</td>
                                        <td>{{item['order_subtotal']}}</td>
                                        <td>{{item['operation_type']}}</td>
                                        <td>{{item['operation_time']}}</td>
                                    </tr>
                                    {% end %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">商品操作日志</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="product_data" class="table table-hover display  pb-30" >
                                <thead>
                                    <tr>
                                        <th>商品号</th>
                                        <th>操作类型</th>
                                        <th>原数据</th>
                                        <th>修改数据</th>
                                        <th>时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in product_list %}
                                    <tr>
                                        <td>{{item['product_sn']}}</td>
                                        <td>{{item['operation_type']}}</td>
                                        <td>{{item['previous_data']}}</td>
                                        <td>{{item['new_data']}}</td>
                                        <td>{{item['operation_time']}}</td>
                                    </tr>
                                    {% end %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">登录日志</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table id="login_data" class="table table-hover display  pb-30" >
                                <thead>
                                    <tr>
                                        <th>登录IP</th>
                                        <th>登录国家</th>
                                        <th>登录省份</th>
                                        <th>登录城市</th>
                                        <th>登录时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in login_info %}
                                    <tr>
                                        <td>{{item['login_ip']}}</td>
                                        <td>{{item['country']}}</td>
                                        <td>{{item['province']}}</td>
                                        <td>{{item['city']}}</td>
                                        <td>{{item['login_time']}}</td>
                                    </tr>
                                    {% end %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
{% end %}

{% block additional_script %}
    <!-- Morris Charts JavaScript -->
    <script src="../static/vendors/bower_components/raphael/raphael.min.js"></script>
    <script src="../static/vendors/bower_components/morris.js/morris.min.js"></script>
    <script src="../static/addtionalJS/web_data/operationData/operation_bar_chart_data.js"></script>
    <script>
        var language = {
	    "language":{
			"sProcessing": "处理中...",
	        "sLengthMenu": "显示 _MENU_ 项结果",
	        "sZeroRecords": "没有匹配结果",
	        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
	        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
	        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
	        "sInfoPostFix": "",
	        "sSearch": "搜索:",
	        "sUrl": "",
	        "sEmptyTable": "表中数据为空",
	        "sLoadingRecords": "载入中...",
	        "sInfoThousands": ",",
	        "oPaginate": {
	            "sFirst": "首页",
	            "sPrevious": "上页",
	            "sNext": "下页",
	            "sLast": "末页"
	        },
	        "oAria": {
	            "sSortAscending": ": 以升序排列此列",
	            "sSortDescending": ": 以降序排列此列"
	        }
		}
	}
        $('#order_data').DataTable(language);
        $('#product_data').DataTable(language);
        $('#login_data').DataTable(language);
    </script>
{% end %}