{% extends 'messageMain.html' %}

{% block message_aside %}

<aside class="col-md-9">
	<div class="inbox-head  mb-30">
		<div class="row">
			<h3 class="col-sm-3">{{title_name}}</h3>
			<div  class="col-sm-offset-4 col-sm-5">
				<form role="search">
					<div class="input-group mb-15">
						<input type="text" id="example-input1-group21" name="example-input1-group21" class="form-control" placeholder="按发送者搜索...">
						 <span class="input-group-btn">
							<button type="button" class="btn  btn-success"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="inbox-body">
		<div class="mail-option">
			<div class="chk-all">
				<div class="checkbox checkbox-default inline-block">
					<input type="checkbox" id="checkbox051"/>
					<label for="checkbox051"></label>
				</div>
				<div class="btn-group">
					<a data-toggle="dropdown" href="#" class="btn  all" aria-expanded="false">
					分类
					<i class="fa fa-angle-down "></i>
					</a>
					<ul class="dropdown-menu">
						<li><a href="" id="all"> 全部</a></li>
						<li><a href="" id="read"> 已读</a></li>
						<li><a href="" id="unread"> 未读</a></li>
					</ul>
				</div>
			</div>
			<div class="btn-group">
				<a id="refresh" data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn  tooltips">
				<i class=" fa fa-refresh"></i>
				</a>
			</div>
			<div class="btn-group hidden-phone">
				<a data-toggle="dropdown" href="#" class="btn  blue" aria-expanded="false">
				操作
				<i class="fa fa-angle-down "></i>
				</a>
				<ul class="dropdown-menu">
					<li class="handle_msg" url="/managermarkreaded" title="标记" text="标记已读后无法还原">
						<a href="#"><i class="fa fa-pencil"></i> 标记为已读</a>
					</li>
					<li class="divider"></li>
					<li class="handle_msg" url="/managerdeletemsg" title="删除" text="删除后可以用最高权限恢复">
						<a href="#"><i class="fa fa-trash-o"></i> 删除</a>
					</li>
				</ul>
			</div>
			<div class="btn-group">
				<a data-toggle="dropdown" href="#" class="btn  blue">
				移动到
				<i class="fa fa-angle-down "></i>
				</a>
				<ul class="dropdown-menu">
					<li class="handle_msg" url="managermarkimportant" title="移动" text="移动后的信息会出现在重要邮件箱">
						<a href="#"><i class="fa fa-bookmark-o"></i> 重要邮件</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="table-responsive" style="min-height: 570px;">
			<table class="table table-inbox table-hover">
				<tbody>
					{% for item in message_list %}
					{% if item['is_read']==0 %}
					<tr class="unread" href="/managerbrowsemessagedetail?message_id={{item['message_id']}}
						&sender_id={{item['sender_id']}}&sender_type={{item['sender_type']}}">
					{% else %}
					<tr class="" href="/managerbrowsemessagedetail?message_id={{item['message_id']}}
						&sender_id={{item['sender_id']}}&sender_type={{item['sender_type']}}">
					{% end %}
						<td class="inbox-small-cells">
							<div class="checkbox checkbox-default">
								<input type="checkbox" msg_id="{{item['message_id']}}" id="{{'checkbox'+str(item['message_id'])}}" name="msg_checkbox"/>
								<label for="{{'checkbox'+str(item['message_id'])}}"></label>
							</div>
						</td>
						{% if item['is_important']==1 %}
						<td class="inbox-small-cells"><i class="fa fa-star" style="color:#fcb03b"></i></td>
						{% else %}
						<td class="inbox-small-cells"><i class="fa fa-star" style="color:#adadad"></i></td>
						{% end %}
						<td class="view-message  dont-show">{{item['show_name']}}</td>
						<td class="view-message ">{{item['title']}}</td>
						<td class="view-message  text-right">{{item['send_time']}}</td>
					</tr>
					{% end %}
				</tbody>
			</table>
		</div>
	</div>

	{% if page_count > 1 %}
	<ul class="pagination pagination-lg mt-0 mb-0 mr-15" id="paging_ui">
		<li class="disabled arrow-left"> <a href="#"><i class="fa fa-angle-left"></i></a> </li>
		{% for i in range(0, page_count) %}
			{% if i==0 %}
			<li class="active"> <a href="#">{{i+1}}</a> </li>
			{% else %}
			<li> <a href="#">{{i+1}}</a> </li>
			{% end %}
		{% end %}
		<li class="arrow-right"> <a href="#"><i class="fa fa-angle-right"></i></a> </li>
	</ul>
	{% end %}
</aside>

{% end %}

{% block additional_msg_script %}
<script>
$(document).ready(function () {
	$(".select2").select2();
    /*Bootstrap wysihtml5 Init*/
	$('.textarea_editor').wysihtml5({
		toolbar: {
		    fa: true,
		  	"image":false,
		  	"link": false,
		  	"blockquote":false,
		  	"lists":false,
		  	"font-styles":false,
		}
	});

	var box_li_id = "#"+"{{box_li_id}}";
	$(box_li_id).addClass("active");
	var href = $(box_li_id).children()[0].href;
	$("#read").attr("href", href+"&is_read=1");
	$("#unread").attr("href", href+"&is_read=0");
	$("#all").attr("href", href);
	$("#refresh").attr("href", href);
})
</script>

<script src="../static/addtionalJS/browsemessage_addjs.js"></script>
{% end %}