{% extends 'messageMain.html' %}

{% block additional_modal %}
<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal_replay" class="modal fade" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h4 class="modal-title">回复消息</h4>
			</div>
			<div class="modal-body ">
				<form role="form" class="form-horizontal" method="post">
					<div class="form-group">
						<label class="col-lg-2 control-label">收件人</label>
						<div class="col-lg-10">
							<input type="text" sender_type="{{message_info['sender_type']}}" sender_id="{{message_info['sender_id']}}"
								   value="{{message_info['show_name']}}" class="form-control send_msg_info" disabled>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">标题</label>
						<div class="col-lg-10">
							<input type="text" placeholder="输入标题(不多于20字...)" id="tt" class="form-control send_msg_info" required="required">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">重要性</label>
						<div class="col-lg-10">
							<select name="is_important" class="selectpicker send_msg_info" data-style="form-control">
								<option db_id="0">非重要邮件</option>
								<option db_id="1">重要邮件</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-2 control-label">正文</label>
						<div class="col-lg-10">
							<textarea name="content" class="textarea_editor form-control send_msg_info"  rows="15" placeholder="请输入内容 ..."></textarea>
						</div>
					</div>
				</form>
				<div class="row">
					<div class="col-lg-offset-2 col-lg-10">
						<button id="replay_msg" class="btn btn-success" type="submit">发送</button>
						<button class="btn btn-default" type="button" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
{% end %}

{% block message_aside %}

<aside class="col-md-9">
	<div class="inbox-head  mb-30">
		<div class="row">
			<h3 class="col-sm-3">收件箱</h3>
			<div  class="col-sm-offset-4 col-sm-5">
				<form role="search">
					<div class="input-group mb-15">
						<input type="text" id="example-input1-group21" name="example-input1-group21" class="form-control" placeholder="按发送者搜索">
						 <span class="input-group-btn">
							<button type="button" class="btn  btn-success"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="inbox-body">
		<div class="heading-inbox">
			<div class="row">
				<div class="col-md-8">
					<div class="compose-btn">
						<a class="btn btn-sm mr-10" href="#myModal_replay" data-toggle="modal" title="Compose"><i class="fa fa-reply"></i> 回复</a>
						<button class="btn btn-sm mr-10" title="" type="button" ><i class="fa fa-print"></i> </button>
						<button class="btn btn-sm" id="delete_btn" title=""><i class="fa fa-trash-o"></i></button>
					</div>
				</div>
				<div class="col-md-4 text-right">
					<span class="date"> {{message_info['send_time']}}</span>
				</div>
			</div>
			<hr class="mt-25 mb-15"/>
			<div class="row">
				<div class="col-md-12 mb-30">
					<h5>{{message_info['title']}}</h5>
				</div>
			</div>
		</div>
		<div class="sender-info">
			<div class="row">
				<div class="col-xs-12">
					<div class="sender-img-wrap pull-left mr-20">
						<img class="sender-img" alt="user" src="{{message_info['sender_pic']}}">
					</div>
					<div class="sender-details   pull-left">
						<span class="capitalize-font pr-5 txt-dark block font-15  head-font"><strong>{{message_info['show_name']}}</strong></span>
						<span class="block">
							{% if message_info['sender_type'] == 'manager' %}
							<span>来自管理员的消息</span>
							{% else %}
							<span>来自用户的消息</span>
							{% end %}
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="view-mail mt-40">
		</div>
		<hr class="mt-25 mb-30"/>
	</div>
</aside>

{% end %}

{% block additional_msg_script %}
<script>
$(document).ready(function () {
	$(".select2").select2();
    /*Bootstrap wysihtml5 Init*/
	$('.textarea_editor').wysihtml5({
		toolbar: {
		    fa: true,
		  	"image":false,
		  	"link": false,
		  	"blockquote":false,
		  	"lists":false,
		  	"font-styles":false,
		}
	});

	var content1 = "{{message_info['content']}}"
	content1 = content1.replace(/&lt;/g,"<");
	content1 = content1.replace(/&gt;/g,">");
	$(".view-mail").html(content1);
})
</script>
<script src="../static/addtionalJS/messageDetail_addjs.js"></script>
{% end %}