{% extends 'main.html' %}

{% block additional_css %}
<!-- Bootstrap Dropify CSS -->
<link href="../static/vendors/bower_components/dropify/dist/css/dropify.css" rel="stylesheet" type="text/css"/>
{% end %}

{% block additional_css_after_style %}
<style>
.dropify-wrapper{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image:url("../static/img/user1.png")
}
#edit-message {
    margin-top: 87px;
    background: #000;
    width: 200px;
    margin-left: -10px;
}

</style>
{% end %}

{% block main_part %}
<!-- Row -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="row">
                    <input type="file" class="dropify" data-max-file-size="500k">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-wrap">
                                <form class="form-horizontal" role="form">
                                    <div class="form-body">
                                        <h6 class="txt-dark capitalize-font"><i class="icon-user mr-10"></i>个人信息</h6>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">用户名</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> {{manager_info['username']}} </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">密码</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static">
                                                            ******
                                                            <button type="button" class="btn btn-default btn-icon-anim btn-square btn-sm modify_btn"
                                                                    style="padding: 2.5px !important;width:20px;height: 20px;margin:0 0 5px 5px;">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!-- /Row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">真实姓名</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> {{manager_info['real_name']}} </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">手机号码</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> {{manager_info['telephone']}} </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!-- /Row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">管理权限</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> 第{{manager_info['authority']}}级管理员 </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">入职时间</label>
                                                    <div class="col-md-9">
                                                        <p class="form-control-static"> {{manager_info['register_time']}} </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!-- /Row -->

                                        <div class="seprator-block"></div>

                                        <h6 class="txt-dark capitalize-font"><i class="icon-notebook mr-10"></i>最后登录</h6>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">地点:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{manager_info['country']}}&nbsp;{{manager_info['province']}}&nbsp;{{manager_info['city']}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">IP:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{manager_info['login_ip']}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">时间:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> {{manager_info['login_time']}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
{% end %}

{% block additional_script %}
<script src="../static/vendors/bower_components/dropify/dist/js/dropify-1.js"></script>
<script src="../static/addtionalJS/myaccount_addjs.js"></script>
<script>
    $(document).ready(function () {
        var img_url = "{{manager_info['profile_pic_url']}}";
        if(img_url === ''){
            img_url = '../static/img/profile_pic/default_profileimg.jpg'
        }
        var background_image_value = 'url("' +img_url + '")';
        $('.dropify-wrapper').css('background-image',background_image_value);

        $(".modify_btn").click(function () {
            window.location.href="/managerresetpassword";
        })
    });
</script>
{% end %}