{% extends 'main.html' %}

{% block additional_css %}
<link href="../static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
{% end %}

{% block additional_css_after_style %}
<style>
.trash-icon{
	/*color:red;*/
}
.modify-icon{
	margin-left:5px;
	margin-right:5px;
}
/*#operation a:hover{*/
	/*color:#000;*/
/*}*/
</style>
{% end %}

{% block main_part %}
<!-- Row -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default card-view">
			<div class="panel-heading">
				<div class="pull-left">
					<h6 class="panel-title txt-dark">员工列表</h6>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-wrapper collapse in">
				<div class="panel-body">
					<div class="table-wrap">
						<div class="table-responsive">
							<table id="datable_1" class="table table-hover display  pb-30" >
								<thead>
									<tr>
										<th>订单号</th>
										<th>商品名字</th>
										<th>商品类型</th>
										<th>商品价格</th>
										<th>商品数量</th>
										<th>订单状态</th>
										<th>发货状态</th>
										<th>支付状态</th>
										<th>创建时间</th>
										<th>操作</th>
									</tr>
								</thead>
								<tbody>
									{% for item in order_list %}
									<tr data-content="{{item['order_id']}}">
										<td>
											{{item['order_sn']}}
										</td>
										<td>
											{{item['product_name']}}
										</td>
										<td>
											{% if item['product_type'] == 0 %}
											普通商品
											{% elif item['product_type'] == 1 %}
											领养商品
											{% else %}
											虚拟商品
											{% end %}
										</td>
										<td>
											{{item['product_price']}}
										</td>
										<td>
											{{item['product_quantity']}}
										</td>
										<td>
											{% if item['order_status']==0 %}
											<span class="label label-warning">未确认</span>
											{% elif item['order_status']==1 %}
											<span class="label label-success">确认</span>
											{% else %}
											<span class="label lable-danger">取消</span>
											{% end %}
										</td>
										<td>
											{% if item['shipping_status']==0 %}
											<span class="label label-warning">未发货</span>
											{% else %}
											<span class="label label-success">已发货</span>
											{% end %}
										</td>
										<td>
											{% if item['payment_status']==0 %}
											<span class="label label-warning">未付款</span>
											{% elif item['payment_status']==1 %}
											<span class="label label-success">已付款</span>
											{% else %}
											<span class="label label-danger">退款</span>
											{% end %}
										</td>
										<td>
											{{item['create_time']}}
										</td>
										<td id="operation">
											<a href="#myModal_orderDetailInfo{{item['order_id']}}" data-toggle="modal" class="modify-icon"><i class="icon-magnifier"></i></a>
											<a href="#" id="confirm_btn" data-content="{{item['order_id']}}"><i class="fa fa-thumb-tack"></i></a>
											<a href="#" data-content="{{item['order_id']}}"><i class="fa fa-openid"></i></a>
										</td>
									</tr>
									{% end %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

{% for item in order_list %}
<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal_orderDetailInfo{{item['order_id']}}" class="modal fade" style="display: none;">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
		<div class="modal-header">
			<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
			<h4 class="modal-title">订单详细信息</h4>
		</div>
		<div class="modal-body ">
			<form class="form-horizontal" role="form">
				<div class="form-body">
					<h6 class="txt-dark capitalize-font"><i class="fa fa-info mr-10"></i>订单详细信息</h6>
					<hr>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">订单号：</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['order_sn']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">商品名字：</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['product_name']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
					</div>
					<!-- /Row -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">商品单价:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['product_price']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">商品数量:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['product_quantity']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
					</div>
					<!-- /Row -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">订单总价:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['order_subtotal']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">额外信息:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['addition_info']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
					</div>
					<!-- /Row -->
					{% if item['product_type'] == 0 %}
					<div class="seprator-block"></div>
					<h6 class="txt-dark capitalize-font"><i class="icon-notebook mr-10"></i>收货地址</h6>
					<hr>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">详细地址:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['address_detail']}}</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">区域:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['district']}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">城市:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['city']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">省份:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['province']}}</p>
								</div>
							</div>
						</div>
						<!--/span-->
					</div>
					<!-- /Row -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">邮编:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['zipcode']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">国家:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['country']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
					</div>
					<!-- /Row -->
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">联系人名字:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['contact_name']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">联系人电话:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['contact_number']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
					</div>
					{% end %}
					<div class="seprator-block"></div>
					<h6 class="txt-dark capitalize-font"><i class="icon-notebook mr-10"></i>订单日志</h6>
					<hr>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">下单时间:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['create_time']}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">确认时间:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['confirm_time']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">确认管理员:</label>
								<div class="col-md-9">
									<p class="form-control-static"> 待定</p>
								</div>
							</div>
						</div>
						<!--/span-->
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">发货时间:</label>
								<div class="col-md-9">
									<p class="form-control-static"> {{item['shipping_time']}} </p>
								</div>
							</div>
						</div>
						<!--/span-->
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-3">发货管理员:</label>
								<div class="col-md-9">
									<p class="form-control-static"> 待定</p>
								</div>
							</div>
						</div>
						<!--/span-->
					</div>
				</div>
			</form>
		</div>
	</div>
		<!-- /.modal-content -->
	</div>
</div>
{% end %}
<!-- /Row -->
{% end %}

{% block additional_script %}
<script src="../static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../static/vendors/bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script src="../static/addtionalJS/action/OrderListAction.js"></script>
<script>

</script>
{% end %}