{% extends 'main.html' %}

{% block additional_css %}
        <!-- bootstrap-select CSS -->
		<link href="../static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
{% end %}

{% block additional_css_after_style %}

{% end %}

{% block main_part %}
<!-- Product Row One-->
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default card-view">
			<div class="panel-wrapper collapse in">
				<div class="panel-body">
					<div class="form-wrap mt-40">
						<form>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<select class="selectpicker" data-style="form-control" id="category_select">
											<option value="0">全部商品</option>
											{% for item in category_list %}
											<option value="{{item['category_id']}}">{{item['category_content']}}</option>
											{% end %}
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<select class="selectpicker" data-style="form-control" id="sortBy">
											<option value="0">请选择排序方式</option>
											<option value="1">商品热度</option>
											<option value="2">上架时间</option>
										</select>
									</div>
								</div>
								<div class="input-group mb-15 col-md-4">
									<input type="text" id="example-input1-group21" name="example-input1-group21" class="form-control" placeholder="按商品名字或编号搜索...">
									 <span class="input-group-btn">
										<button type="button" class="btn  btn-success"><i class="fa fa-search"></i></button>
									</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% for product_list in product_total %}
<div class="row">
	{% for item in product_list %}
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
		<div class="panel panel-default card-view pa-0">
			<div class="panel-wrapper collapse in">
				<div class="panel-body pa-0">
					<article class="col-item">
						<div class="photo">
							<div class="options">
								<button class="btn btn-default btn-icon-anim btn-circle mr-5 edit" name="{{item['product_id']}}"><i class="icon-pencil"></i></button>

								<button class="btn btn-info btn-icon-anim btn-circle" type="submit"><i class="icon-trash"></i></button>
							</div>

							<a href="#"> <img src="{{item['thumb_img_url']}}" class="img-responsive" alt="Product Image" /> </a>
						</div>
						<div class="info text-center">
							<h6>{{item['product_name']}}</h6>
							{% if item['brief'] == '' %}
							<span class="product-spec capitalize-font block mt-5 mb-5">无简介</span>
							{% else %}
							<span class="product-spec capitalize-font block mt-5 mb-5">{{item['brief']}}</span>
							{% end %}
							{% if item['product_type']==1 %}
							<span class="head-font block text-warning">￥{{item['first_pay']}}</span>
							{% else %}
							<span class="head-font block text-warning">￥{{item['shop_price']}}</span>
							{% end %}
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	{% end %}
</div>
{% end %}
<div class="row">
	<ul class="pagination pagination-lg mt-0 mb-20 mr-15 pull-right" >
		<li class="disabled"> <a href="#"><i class="fa fa-angle-left"></i></a> </li>
		<li> <a href="#">1</a> </li>
		<li class="active"> <a href="#">2</a> </li>
		<li> <a href="#">3</a> </li>
		<li> <a href="#">4</a> </li>
		<li> <a href="#">5</a> </li>
		<li> <a href="#"><i class="fa fa-angle-right"></i></a> </li>
	</ul>
</div>
{% end %}

{% block additional_script %}
        <!-- Bootstrap Select JavaScript -->
		<script src="../static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
		<script>
			var href = "/managerbrowseproductlist"


		</script>
{% end %}