{% extends 'main.html' %}

{% block additional_css %}
        <!-- bootstrap-select CSS -->
		<link href="../static/vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
{% end %}

{% block additional_css_after_style %}

{% end %}

{% block main_part %}
    <!-- Product Row One sdjjj-->
                <div class="row">
						<div class="col-md-12">
							<div class="panel panel-default card-view">
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										<div class="form-wrap mt-40">
											<form>
												<div class="row">
													<div class="col-md-4">
														<div class="form-group">
															<select class="selectpicker" data-style="form-control">
																<option>Mustard</option>
																<option>Ketchup</option>
																<option>Relish</option>
															</select>
														</div>
													</div>
                                                    <div class="col-md-4">
														<div class="form-group">
															<select class="selectpicker" data-style="form-control">
																<option>Mustard</option>
																<option>Ketchup</option>
																<option>Relish</option>
															</select>
														</div>
													</div>
                                                    <div class="input-group mb-15 col-md-4">
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn  btn-danger"><i class="fa fa-search"></i></button>
                                                        </span>
                                                        <input type="text" id="example-input1-group4" name="example-input1-group4" class="form-control" placeholder="Search">
                                                    </div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


				<div class="row">
                    {% for item in product_list %}
       				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default card-view pa-0">
							<div class="panel-wrapper collapse in">
								<div class="panel-body pa-0">
									<article class="col-item">
										<div class="photo">
											<div class="options">
												<button class="btn btn-default btn-icon-anim btn-circle mr-5" type="submit"><i class="icon-pencil"></i></button>

												<button class="btn btn-info btn-icon-anim btn-circle" type="submit"><i class="icon-trash"></i></button>
											</div>

											<a href="#"> <img src="{{item['thumb_img_url']}}" class="img-responsive" alt="Product Image" /> </a>
										</div>
										<div class="info text-center">
											<h6>{{item['product_name']}}</h6>
											<span class="product-spec capitalize-font block mt-5 mb-5">{{item['brief']}}</span>
											<span class="head-font block text-warning">￥{{item['shop_price']}}</span>
										</div>
									</article>
								</div>
							</div>
						</div>
					</div>
                    {% end %}
				<!-- /Product Row One -->
{% end %}

{% block additional_script %}
        <!-- Bootstrap Select JavaScript -->
		<script src="../static/vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
{% end %}